---
import { getCollection } from "astro:content";
import Gallery from "../components/Gallery.astro";
import Title from "../components/Title.astro";
import Bio from "../components/Bio.astro";

const allPictures = await getCollection("pictures");
const allPhotographers = await getCollection("photographers");
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro</title>
  </head>
  <body>
    <Title title="JOYPIC x SOUFIANE" />
    <Bio allPhotographers={allPhotographers} />
    <Gallery allPictures={allPictures} />
  </body>
</html>
